@use "../../styles/variables.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background: var(--light);
  color: var(--dark);
}
div.asides {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--vRhythm) var(--gutter);
}
@media screen and (max-width: variables.$CSS_BREAKPOINT_END_S) {
  div.asides {
    padding: 0 var(--gutter) var(--vRhythm) var(--gutter);
  }
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_M) and (max-width: variables.$CSS_BREAKPOINT_END_M) {
  div.asides {
    padding: 0 var(--gutter) var(--vRhythm) var(--gutter);
  }
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) and (max-width: variables.$CSS_BREAKPOINT_END_L) {
  div.asides {
    width: variables.$CSS_BREAKPOINT_START_L;
    margin: 0 auto var(--vRhythm) auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_XL) {
  div.asides {
    width: variables.$CSS_BREAKPOINT_START_XL;
    margin: 0 auto var(--vRhythm) auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
