.aside {
  padding: var(--vRhythm) var(--gutter);
  background: var(--lightGrey);
  color: var(--dark);
  border-radius: var(--borderRadius);
}
.aside h2 {
  padding: 0;
  padding: 0 0 var(--vRhythm) 0;
}
