@import "../../styles/variables.scss";

.hero {
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  transition-property: height;
  transition-duration: var(--baseAnimationRate);
}
.hero.visible {
  height: calc(var(--vRythm) * 8);
}
@media screen and (min-width: $CSS_BREAKPOINT_START_L) {
  .hero {
    height: 0;
  }
  .hero.visible {
    height: calc(var(--vRythm) * 14);
  }
}
