.li-module-scss-module__u3ozca__root>:first-child:last-child{margin:0}
.ol-module-scss-module__0N-IfG__root{margin:0 0 var(--vRhythm)0}
.ul-module-scss-module__T87cJW__ul{margin:0 0 var(--vRhythm)0}
.em-module-scss-module__wsVrca__root{font-style:italic;text-decoration:none}
.code-module-scss-module__3LAZ9q__root{font-family:monospace;text-decoration:none}
.cite-module-scss-module__UdquYq__root{color:var(--primary);text-decoration:underline}
